@{
    ViewBag.Title = "About Page";
}


<div class="container-fluid">
    <div class="col-md-8 col-md-offset-2 w3-container w3-orange">
        <h1>About Me</h1>
    </div>
</div>

<div class="w3-container container-fluid">
    <form>
        <label class="w3-label">First Name</label>
        <input type="text" name="LastName" value="Hieu" class="w3-input" />

        <label class="w3-label">Last Name</label>
        <input type="text" name="LastName" value="Vo" class="w3-input" />
    </form>
</div>