@{
    ViewBag.Title = "Home Page";
}

<h1>The World</h1>
<p>This will be a fun web app soon</p>

<form>
    <div class="controlBottomMargin">
        <label>Date</label>
        <input type="text" value="enter a date" />
    </div>
    <div class="controlBottomMargin">
        <label>Location</label>
        <input type="text" value="enter a location" />
    </div>
</form>